/* index.html styles */
html, body {
  margin: 0;
  height: 100%;
  background-color: #7f0000;
}

.navbar_custom {
  background-color: #b71c1c;
}

#website_header {
  color: #f05545;
  text-align: center;
  vertical-align: middle;
  padding-top: 7%;
  font-family: Sophia;
}

#search_bar_form {
  margin-top: 10%;
}

#movie_search_btn {
  color: white;
  border-color: white;
}

#movie_list_div {
  padding: 0 0 10% 0;
}

.list-group-item {
  padding: 5px;
}

.poster_thumbnail {
  padding: 0;
  width: 100%;
  height: auto;
}

.home_li_pic {
  padding: 0;
}
